<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Chính sách chung</h5>
                    <ul class="footer-links">
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Hình thức thanh toán</a></li>
                        <li><a href="#">Chính sách đổi trả</a></li>
                        <li><a href="#">Hình thức giao & Nhận hàng</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Thông tin liên hệ</h5>
                    <p>
                        <i class="fas fa-map-marker-alt"></i> Số 87 Louis 2, Phường Đại Mỗ, Quận Nam Từ Liêm, Hà Nội<br>
                        <i class="fas fa-phone"></i> Điện thoại: 0828899333<br>
                        <i class="fas fa-envelope"></i> Email: vuasachcuonline@gmail.com
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>Dịch vụ</h5>
                    <div class="service-icons">
                        <div class="service-item">
                            <i class="fas fa-truck"></i>
                            <span>Giao hàng toàn quốc</span>
                        </div>
                        <div class="service-item">
                            <i class="fas fa-shield-alt"></i>
                            <span>Bảo mật thanh toán</span>
                        </div>
                        <div class="service-item">
                            <i class="fas fa-exchange-alt"></i>
                            <span>Đổi trả trong 7 ngày</span>
                        </div>
                        <div class="service-item">
                            <i class="fas fa-headset"></i>
                            <span>Tư vấn miễn phí</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2025 - Mua & Bán Sách Online. Tất cả quyền được bảo lưu.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

